include ../../shared/Modal/Modal.pug

mixin NotificationsModal()
    +Modal('notificationsModal').notifications-modal
            +Image(
                "./images/common/notifications",
                "notifications",
                "png"
            ).notifications-modal__image
            h4.__title 
                | Get notified about 
                | your account
            p.notifications-modal__description Claim HOT when it is ready, complete streaks, receive urgent updates
            +Button(
                "allowButton",
                "xs",
                "brand",
            ).notifications-modal__button
                | Allow notifications
            +Button(
                "laterButton",
                "xs",
                "surface",
            ).notifications-modal__button
                | Not now