.modal-import {
    &__title {
        font-size: 20px;
        font-weight: 600;
        color: $brand;
        margin-bottom: 10px;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        color: $brand;
        margin-bottom: 10px;
    }

    &__field,
    &__submit {
        margin-top: 10px;
    }
}