mixin Header()
    header.header.is-hidden
        button.__settings
            +Image(
                "./images/Header/settings", 
                "settings",
                'png',
            )
        p.__name #user_id
        button.__notifications
            +Image(
                "./images/Header/notification", 
                "notifications",
                "png"
            )