mixin CardNews()
    article.card-news&attributes(attributes)
        h3.__title
            | BNB Coin -
            br
            | New Blockchain
            br
            | in HOT Wallet
        +Button(
            "newsButton",
            "xs",
            "surface",
        ).__check
            | Check news
        button(
            id="closeButton"
        ).__close
            +Image(
                "./images/common/close",
                "close",
                "png"
            )