mixin CardRewards()
    article.card-rewards&attributes(attributes)
        h3.__title INVITATION REWARDS
        .__item
            .__square
                span 1
            p 100 BONK
        .__item
            .__square
                span 1
            p 100 BONK
        .__item
            .__square
                span 1
            p 100 BONK